<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dataRecord">
            <h2><span>Data Record</span> {{dataRecord.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{dataRecord.duration}}</span>
                </dd>
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{dataRecord.text}}</span>
                </dd>
                <dt><span>Source Id</span></dt>
                <dd>
                    <span>{{dataRecord.sourceId}}</span>
                </dd>
                <dt><span>Time</span></dt>
                <dd>
                    <span>{{dataRecord.time}}</span>
                </dd>
                <dt><span>Session</span></dt>
                <dd>
                    <div *ngIf="dataRecord.session">
                        <a [routerLink]="['/session', dataRecord.session?.id, 'view']">{{dataRecord.session?.name}}</a>
                    </div>
                </dd>
                <dt><span>Interaction Type</span></dt>
                <dd>
                    <div *ngIf="dataRecord.interactionType">
                        <a [routerLink]="['/interaction-type', dataRecord.interactionType?.id, 'view']">{{dataRecord.interactionType?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/data-record', dataRecord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
