<div>
    <h2 id="page-heading">
        <span jhiTranslate="multimediaAnnotatorApp.dataRecord.home.title">Data Records</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-data-record" [routerLink]="['/data-record/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="multimediaAnnotatorApp.dataRecord.home.createLabel">
            Create new Data Record
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dataRecords">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="multimediaAnnotatorApp.dataRecord.duration">Duration</span></th>
            <th><span jhiTranslate="multimediaAnnotatorApp.dataRecord.text">Text</span></th>
            <th><span jhiTranslate="multimediaAnnotatorApp.dataRecord.sourceId">Source Id</span></th>
            <th><span jhiTranslate="multimediaAnnotatorApp.dataRecord.time">Time</span></th>
            <th><span jhiTranslate="multimediaAnnotatorApp.dataRecord.session">Session</span></th>
            <th><span jhiTranslate="multimediaAnnotatorApp.dataRecord.interactionType">Interaction Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataRecord of dataRecords ;trackBy: trackId">
                <td><a [routerLink]="['/data-record', dataRecord.id, 'view' ]">{{dataRecord.id}}</a></td>
                <td>{{dataRecord.duration}}</td>
                <td>{{dataRecord.text}}</td>
                <td>{{dataRecord.sourceId}}</td>
                <td>{{dataRecord.time}}</td>
                <td>
                    <div *ngIf="dataRecord.session">
                        <a [routerLink]="['../session', dataRecord.session?.id, 'view' ]" >{{dataRecord.session?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dataRecord.interactionType">
                        <a [routerLink]="['../interaction-type', dataRecord.interactionType?.id, 'view' ]" >{{dataRecord.interactionType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/data-record', dataRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/data-record', dataRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'data-record', { outlets: { popup: dataRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
