<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="annotationType">
            <h2><span>Annotation Type</span> {{annotationType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{annotationType.name}}</span>
                </dd>
                <dt><span>Annotation Session</span></dt>
                <dd>
                    <div *ngIf="annotationType.annotationSession">
                        <a [routerLink]="['/annotation-session', annotationType.annotationSession?.id, 'view']">{{annotationType.annotationSession?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/annotation-type', annotationType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
