<div>
    <h2 id="page-heading">
        <span>Data Sets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-data-set" [routerLink]="['/data-set/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Data Set
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="dataSets?.length === 0">
        <span>No dataSets found</span>
    </div>
    <div class="table-responsive" *ngIf="dataSets?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Title</span></th>
            <th scope="col" ><span>Date</span></th>
            <th scope="col" ><span>Type</span></th>
            <th scope="col" ><span>Contents</span></th>
            <th scope="col" ><span>Identifier</span></th>
            <th scope="col" ><span>Analysis Scenario</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataSet of dataSets ;trackBy: trackId">
                <td><a [routerLink]="['/data-set', dataSet.id, 'view' ]">{{dataSet.id}}</a></td>
                <td>{{dataSet.title}}</td>
                <td>{{dataSet.date | date:'medium'}}</td>
                <td>{{dataSet.type}}</td>
                <td>{{dataSet.contents}}</td>
                <td>{{dataSet.identifier}}</td>
                <td>
                    <div *ngIf="dataSet.analysisScenario">
                        <a [routerLink]="['/analysis-scenario', dataSet.analysisScenario?.id, 'view' ]" >{{dataSet.analysisScenario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/data-set', dataSet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/data-set', dataSet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(dataSet)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
