<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to Multimedia Annotator</h1>
        <p class="lead">Please <a class="alert-link" (click)="login()">sign in</a> to start annotation.</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

        </div>
    </div>
</div>
